<%= form_for @widget do |f| %>
  <div>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
    <%= error_on f.object, :name %>
  </div>
  
  <div>
    <% if f.object.has_prm_thumbnail? %>
      <!-- If a permanent file has previously been saved, we display it back for the
      user's reference. -->
      <%= widget_thumbnail f.object %>
    <% end %>
    
    <!-- If a temporary file has been saved, then we're redisplaying the form due to a
    validation error. (But not an error on the file itself.) We prefer not to invite the
    user to re-upload the file. -->
    <% unless f.object.has_tmp_thumbnail? %>
      <%= f.label :file, 'Thumbnail file:' %>
      <%= f.file_field :thumbnail %>
      <%= error_on f.object, :thumbnail %>
    <% end %>
  </div>
  
  <div>
    <%= f.hidden_field :echo_uploads_data %>
    <!--
      Decoded value of #echo_uploads_data:
      <%= Base64.decode64(f.object.echo_uploads_data) %>
    -->
    <%= f.submit 'Save' %>
  </div>
<% end %>