<p><%= link_to 'Upload image', new_image_url %></p>

<ul id="images">
  <% @images.each do |image| %>
    <li>
      <%= image_tag image_url(image, key: image.file_key) %>
      <div class="name"><%= image.name %></div>
      <%= link_to 'Edit', edit_image_url(image), class: 'edit' %>
      <%= button_to 'Delete', image_url(image), method: :delete %>
    </li>
  <% end %> 
</ul>